<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Thesellix ~ Hizmetler</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="./assets/images/rs23.png" rel="icon">
  <link href="./assets/images/rs23.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <span><img src="./assets/images/rs23.png" alt=""></span>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <% if (!data) {%>
          <li><a class="getstarted scrollto" href="/login" style="background-color: #86C1ED;">Giriş Yap</a></li>
          <% } else {%>
            <li><a class="getstarted scrollto" href="/anasayfa" style="background-color: #86C1ED;">Yönetim Paneli</a></li>
            <% }%>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>



  <main id="main">    
    
    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up"><br><br><br><br><br>

        <header class="section-header">
          <h1 style="color: white;">Thesellix<br><span style="color: #86C1ED;">Discord</span> Hizmetleri</h1>
        </header><br><br><br><br><br><br><br><br><br><br>

        <header class="section-header">
          <p>HİZMET ALAN MÜŞTERİLERİMİZ</p>
        </header>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="profile mt-auto">
                  <img href="https://discord.gg/sahmat" src="https://cdn.discordapp.com/attachments/1103293511220080701/1155539677445619752/bwebrbwrwrnw.gif" class="testimonial-img" alt="">
                  <h3><a href="https://discord.gg/sahmat">ŞAH & MAT</a></h3>
                  <h4></h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">

                <div class="profile mt-auto">
                  <img src="https://cdn.discordapp.com/icons/1149718216537546832/a_a5a468b01502f78370989deeecf965f4.gif" class="testimonial-img" alt="">
                  <h3><a href="https://discord.gg/kadeh">KADEH %99</a></h3>
                  <h4></h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">

                <div class="profile mt-auto">
                  <img src="https://cdn.discordapp.com/icons/1029508821393084557/a_6e4f34f7e0e490fdc7e13b9cc1284912.gif" class="testimonial-img" alt="">
                  <h3><a href="https://discord.gg/bomonti">BOMONTİ</a></h3>
                  <h4></h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">

                <div class="profile mt-auto">
                  <img src="https://cdn.discordapp.com/icons/934422079418302495/a_fcc3ecd6c3256eb80485181324f7a61a.webp" class="testimonial-img" alt="">
                  <h3><a href="https://discord.gg/meyhane">MEYHANE</a></h3>
                  <h4></h4>
                </div>
              </div>
            </div>
            

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section>
<br>
<br>
<br>
    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>BİZE AİT OLAN PROJELER</p>
        </header>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="profile mt-auto">
                  <img src="./assets/images/tststststststtts.png" class="testimonial-img" alt="">
                  <h3><a href="https://www.thesellix.site">Thesellix.site</a></h3>
                  <h4></h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="profile mt-auto">
                  <img src="./assets/images/SpartanX.png" class="testimonial-img" alt="">
                  <h3><a href="https://spartanx.com">SpartanX</a></h3>
                  <h4></h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="profile mt-auto">
                  <img src="./assets/images/siberCentral.png" class="testimonial-img" alt="">
                  <h3><a href="https://sibercentral.com">SiberCentral</a></h3>
                  <h4></h4>
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

  </main>
<footer>

  <div class="footer-bottom">
      <a href="https://thesellix.site/" style="color: #86C1ED">Thesellix.site</a> © 2021 <a href="https://discord.com/users/1067476859933179954" style="color: #86C1ED">elchavopy</a>, All rights Reserved
  </div>
</footer>
<!-- //footer code end -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>


  <script src="assets/js/js/main.js"></script>




</body>

</html>

<style>


</style>
<script>
const selected = document.querySelector(".selected");
const optionsContainer = document.querySelector(".options-container");

const optionsList = document.querySelectorAll(".option");

selected.addEventListener("click", () => {
  optionsContainer.classList.toggle("active");
});

optionsList.forEach(o => {
  o.addEventListener("click", () => {
    selected.innerHTML = o.querySelector("label").innerHTML;
    optionsContainer.classList.remove("active");
  });
});

</script>


<style>

</style>